requests
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
dateparser
emoji
feedparser
ffmpeg-python
future
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
markdown2
multicolorcaptcha
pillow
psutil
psycopg2-binary
pyYAML
pyrate-limiter
python-telegram-bot
requests
spamwatch
speedtest-cli
SQLAlchemy==1.4.44
telethon
ujson
pycryptodome
base58
pytimeparse
SibylSystem
TgCrypto
pyrogram
python-arq
python-dotenv
ffmpeg-python
redis
telegraph
motor
pymongo[srv]==4.3.3
odmantic==0.9.2
opencv-python-headless==4.7.0.72
pykeyboard==0.1.5
wget
wikipedia==1.4.0
bing_image_downloader
lyricsgenius
jikanpy
gtts
search_engine_parser
googletrans
gpytranslate
cloudscraper
carbonnow
pretty_errors
